<config>
	<projects>
		<project>
			<uriPath>/ibank/service/financeRequest</uriPath> 
			<module>CGBFund</module> 
			<className>CGBFundMessageProcessor</className> 
			<group>fund</group> 
			<APIShortName>cgbFund</APIShortName> 
			<subPath/>
		</project>
		<project>
			<uriPath>/fastPayGetMsg.htm</uriPath> 
			<module>fastPayGetMsg</module> 
			<className>FastPayGetMsg</className> 
			<group>trade</group> 
			<APIShortName>fastPayGetMsg</APIShortName> 
			<subPath/>
		</project>
		<project>
			<uriPath>/fastPayNoAccountCard.htm</uriPath> 
			<module>fastPayNoAccountCard</module> 
			<className>FastPayNoAccountCard</className> 
			<group>trade</group> 
			<APIShortName>fastPayNoAccountCard</APIShortName> 
			<subPath/>
		</project>
		<project>
			<uriPath>/services/CeFinalPaymentWS</uriPath> 
			<module>ceFinalPaymentWS</module> 
			<className>CeFinalPaymentWS</className> 
			<group>trade</group> 
			<APIShortName>CeFinalPaymentWS</APIShortName> 
			<subPath/>
		</project>
		<project>
			<uriPath>/services/CeVerifyWS</uriPath> 
			<module>ceVerifyWS</module> 
			<className>CeVerifyWS</className> 
			<group>trade</group> 
			<APIShortName>ceVerifyWS</APIShortName> 
			<subPath/>
		</project>
	</projects>
</config>